
{% extends "base.html.twig" %}

{% block title "Information du client" %}

{% block stylesheets %}
	{{ parent()}}
	{{encore_entry_link_tags('customer')}}
{% endblock %}

{% block body %}
<div class="content">
	<div class="box">
		<h3 class="box-title"> Informations client </h3>
		<div class="box-content">
			<div class="smallbox">
				<h4>{{customer.name}}</h4>
				<p>{{customer.address}}</p>
				<p>{{customer.city}}</p>
				<p>{{customer.country}}</p>
			</div>
			{% for contact in customer.contacts %}
				{% if contact.main == 1 %}
					<div class="smallbox mainbox">
						<h4>{{contact.firstname}} {{contact.lastname}}</h4>
						{% if contact.tel is not null %}
							<p>{{contact.tel}}</p>
						{% endif %}
						<p>{{contact.email}}</p>
					</div>
				{% else %}
					<div class="smallbox">
						<h4>{{contact.firstname}} {{contact.lastname}}</h4>
						{% if contact.tel is not null %}
							<p>{{contact.tel}}</p>
						{% endif %}
						<p>{{contact.email}}</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="products">
		{% for product in customer.products %}
			<div class="product">
				<div class="box">
					<div class="box-title">
						<h3> Produit </h3>
					</div>
					<div class="box-content">
						<div class="smallbox">
							<h4>{{product.name}}</h4>
						</div>
					</div>
				</div>
				{% if  product.server is not null %}
					<div class="box">
						<h3 class="box-title"> Serveur </h3>
						<div class="box-content">
							{% if product.server.server == true %}
								<div class="smallbox">
									<h4>{{product.server.name}} {{product.server.provider}}</h4>
									<p>{{product.server.ip}}</p>
									<p>processeur:{{product.server.proc}}</p>
									<p>ram:{{product.server.ram.name}}</p>
									<p>stockage:{{product.server.stockage.name}}</p>
									<p>débit:{{product.server.debit}}</p>
								</div>
							{% else %}
								<h4>{{product.server.name}} {{product.server.provider}}</h4>
								<p>{{product.server.ip}}</p>
							{% endif %}
						</div>

					</div>
					<div class="box">
						<h3 class="box-title">Application</h3>
						<div class="box-content">
							{% if product.server.application is not null %}
								<div class="smallbox">
									<h4>{{product.server.application.name}}</h4>
									<p>{{product.server.dns}}</p>
								</div>
							{% endif %}
							{% for account in product.server.accounts %}
								<div class="smallbox">
									<p>nom d'utilisateur: {{account.username}}</p>
									<p>mot de passe: {{account.password}}</p>
									{% if account.type == 0 %}
										<p> type de compte: moodle </p>
									{% elseif account.type == 1 %}
										<p> type de compte: moodle admin </p>
									{% elseif account.type == 2 %}
										<p> type de compte: UI server </p>
									{% elseif account.type == 3 %}
										<p> type de compte: FTP/SSH </p>
									{% endif %}
									{% if account.application != NULL %}
									<p> application lié au compte: {{account.application}}
										{% endif %}
										{% if account.url != NULL %}
									<p> url lié au compte: {{account.url}}
										{% endif %}
								</div>
							{% endfor %}
						</div>
					</div>
					{% if product.server.dB is not null %}
						<div class="box">
							<div class="bigbox">
								<div class="box-title">
									<h3>BDD</h3>
								</div>
								<h4>{{product.server.dB.name}}</h4>
								<div class="smallbox">
									<p>nom d'utilisateur: {{product.server.dB.username}}</p>
									<p>mot de passe: {{product.server.dB.password}}</p>
								</div>
							</div>
						</div>
					{% endif %}
				{% endif %}
			</div>
		{% endfor %}
	</div>			
</div>
{% endblock %}