
{% extends "base.html.twig" %}

{% block title "Information du client" %}

{% block stylesheets %}
	{{ parent()}}
	{{encore_entry_link_tags('customer')}}
{% endblock %}

{% block body %}
<div class="content">
	<div class="box">
		<h3 class="box-title"> Informations client </h3>
		<div class="box-content">
			<div class="smallbox">
				<h4>{{customer.name}}</h4>
				<p>{{customer.address}}</p>
				<p>{{customer.city}}</p>
				<p>{{customer.country}}</p>
			</div>
			{% for contact in customer.contacts %}
				{% if contact.IsMain == 1 %}
					<div class="smallbox mainbox">
						<h4>{{contact.firstname}} {{contact.lastname}}</h4>
						{% if contact.tel is not null %}
							<p>{{contact.tel}}</p>
						{% endif %}
						<p>{{contact.email}}</p>
					</div>
				{% else %}
					<div class="smallbox">
						<h4>{{contact.firstname}} {{contact.lastname}}</h4>
						{% if contact.tel is not null %}
							<p>{{contact.tel}}</p>
						{% endif %}
						<p>{{contact.email}}</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="products">
		{% for sale in customer.sales %}
			<i class="material-icons edit-icon" onclick="window.location.href = '{{path('page_edition_sale', {id: sale.id})}}';">border_color</i>
			{% for machine in sale.machines %}
				<div class="machine">
					<div class="box">
						<h3 class="box-title"> Machine </h3>
						<div class="box-content">
							{% if machine.providerOffer.IsServer == true %}
									<div class="smallbox">
										<div class="small-contents">
											<div class="server-title">
												<h4 class="start">{{machine.providerOffer.name}}</h4>
												<h4 class="end">{{machine.providerOffer.provider.name}}</h4>
											</div>
											<p>{{machine.ip}}</p>
											<div class="small-content">
												<p class="start">processeur:</p> 
												<p class="end">{{machine.providerOffer.proc}}</p>
												<p class="start">ram:</p>
												<p class="end">{{machine.providerOffer.rams[0].capacity}}</p>
												<p class="start">stockage:</p>
												<p class="end">{{machine.providerOffer.stockages[0].capacity}}</p>
												<p class="start">débit:</p> 
												<p class="end">{{machine.providerOffer.debit}}</p>
											</div>
										</div>
									</div>
								{% else %}
									<div class="smallbox">
										<div class="server-title">
											<h4 class="start">{{machine.providerOffer.name}}</h4>
											<h4 class="end">{{machine.providerOffer.provider.name}}</h4>
										</div>
										<p>{{machine.ip}}</p>
									</div>
							{% endif %}
						</div>
					</div>
					{% if  machine is not null %}
						<div class="box">
							<h3 class="box-title">Application</h3>
							<div class="box-content">
								{% if machine.applications is not null %}
									{% for application in machine.applications %}
										<div class="smallbox">
											<h4>{{application.domainName}}</h4>
										</div>
									{% endfor %}
								{% endif %}
								{% for account in machine.accounts %}
									<div class="smallbox">
										<p>nom d'utilisateur: {{account.username}}</p>
										<p>mot_de_passe:{{account.password}}</p>
										{% if account.type == 0 %}
											<p> type de compte: application </p>
										{% elseif account.type == 1 %}
											<p>base de donnée: {{account.db_name}}</p>
											<p> type de compte: BDD </p>
										{% elseif account.type == 2 %}
											<p> type de compte: FTP/SSH </p>
										{% elseif account.type == 3 %}
											<p> type de compte: UI </p>
										{% endif %}
										{% if account.application is not null %}
											<p> application lié au compte: {{account.application}}</p>
										{% endif %}
										{% if account.url is not null %}
											<p> url lié au compte: {{account.url}} </p>
										{% endif %}
									</div>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					</div>
			{% endfor %}
		{% endfor %}
	</div>			
</div>
{% endblock %}