
{% extends "base.html.twig" %}

{% block title "Gestion client Boost'tic" %}


{% block body %}

	<h1>
	<center>Nos clients</center>
	</h1>
	<br>
	
	<center>
	<div class="container">
		<table style="text-align: center;"border="2">
			<tr>
			<th>client</th>
			<th>ville</th>
			<th>nom</th>
			<th>email</th>
			<th>téléphone</th>
			</tr>
				
			{% for customer in customers %}
					
				<tr>
				<td> <a href={{path('page_customer', {id: customer.id})}}>{{customer.name}}</a></td>
				<td> {{customer.city}}</td>
				<td> {{customer.contacts[0].firstname}} {{customer.contacts[0].lastname}}</td>
				<td> {{customer.contacts[0].email}}</td>
				<td> {{customer.contacts[0].tel}}</td>
				</tr>
			
			{% endfor %}
		</table>
		<button onclick="window.location.href = '{{path('page_creation_client')}}';">Ajouter un client</button>
		<button onclick="window.location.href = '{{path('page_creation_produit')}}';">Ajouter un produit</button>
		<button onclick="window.location.href = '{{path('page_creation_machine')}}';">Ajouter une machine</button>
	</div>
	</center>
	
{% endblock %}