
{% extends "base.html.twig" %}

{% block title "Gestion client Boost'tic" %}

{% block body %}

	<h1>
	<center>Nos clients</center>
	</h1>
	<br>
	
	<center>
	<div class="container">
		
			<table style="text-align: center;"border="2">
				<tr>
				<th>client</th>
				<th>ville</th>
				<th>nom</th>
				<th>email</th>
				<th>téléphone</th>
				</tr>
					
				{% for customer in customers %}
						
					<tr>
					<td> <a href="#">{{customer.name}}</a></td>
					<td> {{customer.city}}</td>
					<td> {{customer.contacts[0].name}}</td>
					<td> {{customer.contacts[0].email}}</td>
					<td> {{customer.contacts[0].tel}}</td>
					</tr>
				
				
				{% endfor %}
	</div>
	
	</center>
	
{% endblock %}