{% extends "base.html.twig" %}

{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('form') }}
{% endblock %}

{% block menu %}
	<ul>
		<li class="selected"><a href="{{ path('customers') }}"><i class="material-icons account-icon">people</i>Clients</a></li>
		<li><a href="#"><i class="material-icons account-icon">article</i>Devis</a></li>
	</ul>
	<ul>
		<li><a href="#"><i class="material-icons account-icon">settings</i>Paramètres</a></li>
	</ul>
{% endblock %}

{% block title "Ajout / Modification d'un client" %}

{% block content %}
	<h1>Ajout / Modification d'un client</h1>
	{{ form_start(form) }}
		<div class="form-group">
			<h2>Informations entreprise</h2>
			<div class="form-row-2">
				{{ form_row(form.juridicalName) }}
				{{ form_row(form.tradeName) }}
			</div>
			<div class="form-row-2">
				{{ form_row(form.phone) }}
				{{ form_row(form.email) }}
			</div>
			{{ form_row(form.siret) }}
		</div>
		<div class="form-group">
			<div class="form-row-2">
				<div>
					<h2>Adresse postale</h2>
					{{ form_row(form.postalAddress.address) }}
					<div class="form-row-2">
						{{ form_row(form.postalAddress.city) }}
						{{ form_row(form.postalAddress.postalCode) }}
					</div>
					{{ form_row(form.postalAddress.country) }}
				</div>
				<div>
					<h2>Adresse de facturation</h2>
					{{ form_row(form.haveBillingAddress) }}
					<div class="billingAddressForm">
						{{ form_row(form.billingAddress) }}
					</div>
				</div>
			</div>

		</div>
		<div class="form-group">
			<h2>Contacts</h2>
			{{ form_row(form.contacts) }}
		</div>
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('customer_add') }}
{% endblock %}

