{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}

{% block menu %}
    <ul>
        <li class="selected"><a href="{{ path('customers') }}"><i class="material-icons account-icon">people</i>Clients</a></li>
        <li><a href="#"><i class="material-icons account-icon">article</i>Devis</a></li>
    </ul>
    <ul>
        <li><a href="#"><i class="material-icons account-icon">settings</i>Paramètres</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="content-header">
        <h2>Clients</h2>
        <button onclick="location.href='{{ path('customer_create') }}'" class="btn btn-primary">Ajouter un client</button>
    </div>
    <table id="example" class="table display" style="width:100%">
        <thead>
        <tr>
            <th>Nom du client</th>
            <th>Adresse</th>
            <th>Code Postal</th>
            <th>Ville</th>
            <th>Pays</th>
            <th>Standard téléphonique</th>
            <th>Email publique</th>
            <th>Contact Principal</th>
            <th>Téléphone</th>
            <th>Email</th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}