<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Se connecter</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('reset') }}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('login') }}
        {% endblock %}
    </head>
    <body>
        <img class="logo" alt="Logo de la société Boost'tic" src="{{ asset('build/images/logo.svg') }}">
        <main class="content">
            <h1>Connexion</h1>
            {% if error %}
                <div class="form-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
             <div class="box-form">
                <div class="box-content">
                    <form action="{{ path('app_login') }}" method="post">
                        <div class="form-row">
                            <label for="username">Nom d'utilisateur:</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}"/>
                        </div>
                        <div class="form-row">
                            <label for="password">Mot de passe:</label>
                            <input type="password" id="password" name="_password"/>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="btn-primary login-button" type="submit">Se connecter</button>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>



