{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent()}}
    {{encore_entry_link_tags('form')}}
{% endblock %}

{% import _self as formMacros %}

{% macro ApplicationType(app) %}
<div>
    <div class="row">
        <div class="col">
            <div class="name">
                {{form_label(app.domainName)}}
            </div>
            <div class="add">
                {{form_errors(app.domainName)}}
                {{form_widget(app.domainName)}}
            </div>
        </div>
        <div class="col">
            <div class="name">
                {{form_label(app.port)}}
            </div>
            <div class="add">
                {{form_errors(app.port)}}
                {{form_widget(app.port)}}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="name">
            {{form_label(app.product)}}
        </div>
        <div class="add">
            {{form_errors(app.product)}}
            {{form_widget(app.product)}}
        </div>
    </div>
    <span>compte application</span>
    <div class="row">
        <div class="col">
            <div class="name">
                {{form_label(app.accounts[0].username)}}
            </div>
            <div class="add">
                {{form_errors(app.accounts[0].username)}}
                {{form_widget(app.accounts[0].username)}}
            </div>
        </div>
        <div class="col">
            <div class="name">
                {{form_label(app.accounts[0].password)}}
            </div>
            <div class="add">
                {{form_errors(app.accounts[0].password)}}
                {{form_widget(app.accounts[0].password)}}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="name">
            {{form_label(app.accounts[0].url)}}
        </div>
        <div class="add">
            {{form_errors(app.accounts[0].url)}}
            {{form_widget(app.accounts[0].url)}}
        </div>
    </div>
    <span>compte BDD</span>
    <div class="row">
        <div class="col">
                <div class="name">
                    {{form_label(app.accounts[1].username)}}
                </div>
                <div class="add">
                    {{form_errors(app.accounts[1].username)}}
                    {{form_widget(app.accounts[1].username)}}
                </div>
            </div>
            <div class="col">
                <div class="name">
                    {{form_label(app.accounts[1].password)}}
                </div>
                <div class="add">
                    {{form_errors(app.accounts[1].password)}}
                    {{form_widget(app.accounts[1].password)}}
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="name">
            {{form_label(app.accounts[1].url)}}
        </div>
        <div class="add">
            {{form_errors(app.accounts[1].url)}}
            {{form_widget(app.accounts[1].url)}}
        </div>
    </div>
</div>
{% endmacro %}

{% macro MachineType(machine) %}
<div class="box-content">
    <div class="box box-machine">
        <div class="row">
            <div class="col">
                <div class="name">
                    {{form_label(machine.ip)}}
                </div>
                <div class="add">
                    {{form_errors(machine.ip)}}
                    {{form_widget(machine.ip)}}
                </div>
            </div>
            <div class="col">
                <div class="name">
                    {{form_label(machine.providerOffer)}}
                </div>
                <div class="add">
                    {{form_errors(machine.providerOffer)}}
                    {{form_widget(machine.providerOffer)}}
                </div>
            </div>
        </div>
        <span>compte UI</span>
        <div class="row">
            <div class="col">
                <div class="name">
                    {{form_label(machine.accounts[0].username)}}
                </div>
                <div class="add">
                    {{form_errors(machine.accounts[0].username)}}
                    {{form_widget(machine.accounts[0].username)}}
                </div>
            </div>
            <div class="col">
                <div class="name">
                    {{form_label(machine.accounts[0].password)}}
                </div>
                <div class="add">
                    {{form_errors(machine.accounts[0].password)}}
                    {{form_widget(machine.accounts[0].password)}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="name">
                    {{form_label(machine.accounts[0].url)}}
                </div>
            <div class="add">
                {{form_errors(machine.accounts[0].url)}}
                {{form_widget(machine.accounts[0].url)}}
            </div>
        </div>
        <span>compte FTP/SSH</span>
        <div class="row">
            <div class="col">
                <div class="name">
                    {{form_label(machine.accounts[1].username)}}
                </div>
                <div class="add">
                    {{form_errors(machine.accounts[1].username)}}
                    {{form_widget(machine.accounts[1].username)}}
                </div>
            </div>
            <div class="col">
                <div class="name">
                    {{form_label(machine.accounts[1].password)}}
                </div>
                <div class="add">
                    {{form_errors(machine.accounts[1].password)}}
                    {{form_widget(machine.accounts[1].password)}}
                </div>
            </div>
        </div>
         <div class="col">
            <div class="name">
                    {{form_label(machine.accounts[1].url)}}
                </div>
            <div class="add">
                {{form_errors(machine.accounts[1].url)}}
                {{form_widget(machine.accounts[1].url)}}
            </div>
        </div>
    </div>
    <div class="box box-application">
        {# the data-index attribute is required for the JavaScript code below #}
        <ul class="application"
            data-index="{{ machine.applications|length > 0 ? machine.applications|last.vars.name + 1 : 0 }}"
            data-prototype="{{ formMacros.ApplicationType(machine.applications.vars.prototype)|e('html_attr') }}"
        >
        </ul>
        <button type="button" class="app add_item_link" data-collection-holder-class="application">Add an application</button>
    </div>
</div>
{% endmacro %}




{% block title "Ajout d'une vente" %}


{% block body %}
    <main class="content">
        <h1>Ajout d'une vente</h1>
        <div class="box-form">
            {{ form_start(form) }}
                <div class="col">
                    <div class="customer">
                        <div class="name">
                            {{form_label(form.customer)}}
                        </div>
                        <div class="add">
                            {{form_errors(form.customer)}}
                            {{form_widget(form.customer)}}
                        </div>
                    </div>
                </div>
                <div class="box-title">
                    <h3>Machine</h3>
                    <h3>Application</h3>
                </div>
                    {# the data-index attribute is required for the JavaScript code below #}
                    <ul class="machines"
                        data-index="{{ form.machines|length > 0 ? form.machines|last.vars.name + 1 : 0 }}"
                        data-prototype="{{ formMacros.MachineType(form.machines.vars.prototype)|e('html_attr') }}"
                    >
                    </ul>
                    <button type="button" class="machine add_item_link" data-collection-holder-class="machines">Add a machine</button>

                
                <button class="create">Créer</button>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('app_add') }}
{% endblock %}