{% extends "base.html.twig" %}


{% macro AccountType(app) %}
	<p>compte application</p>
	{{form_row(app.accounts[0])}}
	<p>compte BDD</p>
	{{form_row(app.accounts[1])}}
{% endmacro %}

{% import _self as formMacros %}

{% block title "Ajout d'une vente" %}


{% block body %}
<h1>Ajout d'une vente</h1>

{{ form_start(form) }}

    {{form_row(form.customer)}}
	{{form_row(form.machines)}}

	{# the data-index attribute is required for the JavaScript code below #}
    <ul class="applications"
        data-index="{{ form.applications|length > 0 ? form.applications|last.vars.name + 1 : 0 }}"
        data-prototype="{{ formMacros.AccountType(form.applications.vars.prototype)|e('html_attr') }}"
    >
    </ul>
    {% for app in form.applications %}
		{{ formMacros.AccountType(app) }}
    {% endfor %}


    <button type="button" class="add_item_link" data-collection-holder-class="applications">Add an application</button>

	<button>Créer</button>
{{ form_end(form) }}


{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('app_add') }}
{% endblock %}