{% extends 'base.html.twig' %}

{% block title "Ajout d'un client" %}

{% block body %}

<h1>Ajout d'un client</h1>
{{ form_start(form)}}

	{{form_row(form.name)}}
	{{form_row(form.address)}}
	{{form_row(form.city)}}
	{{form_row(form.country)}}

	 {# the data-index attribute is required for the JavaScript code below #}
    <ul class="contacts"
        data-index="{{ form.contacts|length > 0 ? form.contacts|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.contacts.vars.prototype)|e('html_attr') }}"
    >
    </ul>

        <button type="button" class="add_item_link" data-collection-holder-class="contacts">Add a contact</button>

	
	<button>Créer</button>



{{ form_end(form) }}


{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('customer_add') }}
{% endblock %}

