{% extends 'base.html.twig' %}

{% block title "Ajout d'un client" %}

{% block javascripts %}
	{{ parent()}}
    {{ encore_entry_script_tags('customer_add') }}
{% endblock %}

{% block body %}

<h1>Ajout d'un client</h1>
{{ form_start(form)}}

	{{form_row(form.name)}}
	{{form_row(form.address)}}
	{{form_row(form.city)}}
	{{form_row(form.country)}}

	 <ul id="contacts-fields-list"
        data-prototype="{{ form_widget(form.contact.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ form.contact|length }}">
    {% for contact in form.contact %}
        <li>
            {{ form_errors(contact) }}
            {{ form_widget(contact) }}
        </li>
    {% endfor %}
    </ul>

    <button type="button"
        class="add-another-collection-widget"
        data-list-selector="#contacts-fields-list">Add another contact</button>

    <button type="button"
        class="addContactFormDeleteLink"
        data-list-selector="#contacts-fields-list">remove contact</button>
	
	<button>Créer</button>



{{ form_end(form) }}


{% endblock %}

